{
  "resolutions": {
    "pouchdb-react-native": "7.0.0-beta-1",
    "react-barcode-generator": "1.0.0",
    "react-native-print": "0.11.0",
    "react-native-netinfo": "1.1.0",
    "pouchdb-adapter-asyncstorage": "7.0.0-beta-1",
    "react-native-voice": "0.3.0",
    "flipper-plugin-react-query-native-devtools": "4.1.3",
    "json2csv": "6.0.0-alpha.2",
    "tensorflow": "0.7.0",
    "react": "18.2.0"
  }
}

